* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.block {
    background: red;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.yellow-box {
    display: flex;
    justify-content: space-between;
}

.yellow-child {
    background: yellow;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.yellow-child1 {
    background: yellow;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.blue-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.blue {
    background: blue;
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.green-child {
    background: green;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.green-child1 {
    background: green;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.green2 {
    display: flex;
    align-items: flex-end;
}
